<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <title>댓글 달기</title>
    <style>
    body {
      background-color: rgba(0,0,0,0.8);
      background-image: url("../../bg2.jpg");
      background-size: cover;
      background-position: top center;
    }
    h1 {
      color : #fff;
    }
    </style>
    <script>
        function check(){

            if(form1.name.value ==""){
                alert("이름을 꼭 입력하세요!");
                form1.name.focus()
                return;
            }
            if(form1.content.value ==""){
                alert("내용을 꼭 입력하세요!");
                form1.content.focus()
                return;
            }
            form1.submit();
        }
    </script>
</head>
<body>
    <h1>댓글달기</h1>
    <a href="/list">LIST</a><br><br>
    <form action="/comment" method="POST" name="form1">
        <table border="1" style="width: 30em">
            <tr>
                <th style="color : #fff;">이름</th>
                <td>
                    <input type="hidden" name="num" value="{{num}}">
                    <input type= "hidden" name = "page" value="{{page}}">
                    <input type ="text" name ="name">
                </td>
            </tr>
            <tr>
                <th style="color : #fff;">내용</th>
                <td><textarea name="content" cols= "50" rows="10"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="글쓰기" onclick="check()">
                    <input type="reset" value="취소">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
